.con-footer{
    
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0px;
    display: block;
    z-index: 777;

    .con-footer-item{
        width: 100%;
        height: 80px;
        background-color: #120C1C;
        border-top: 1px solid  rgba(255, 255, 255, 0.145);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding-left: 30px;
        padding-right: 30px;
        .con-footer-item-1{
            width: 28%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .option-vl{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding-left: 30px;
                padding-right: 30px;
                div{
                    width: 180px;
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    input{
                        padding: 0;
                        cursor: pointer;
                        -webkit-appearance: none;
                        height: 3px;
                        outline: none;
                    }
                }
                .YouTubeIcon{
                    width: 30px;
                    font-size: 20px;
                    cursor: pointer;
                    color: white;
                }
            }
           
            .icon{
                width: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                margin-left: 20px;
                .MoreHorizIcon{
                    color: white;
                    font-size: 18px;
                }
            }
            .item-play-name{
                width: 200px;
                height: 50px;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                
                p{
                    margin: 0;
                    margin-top: 25px;
                    font-weight: 600;
                    color: white;
                    font-size: 12px;
                    opacity: .7;
                    text-overflow:clip ;
                    overflow: visible;
                }
                .marquee{
                    margin-top: 5px;
                    position: absolute;
                    font-size: 13px;
                    font-weight: 600;
                    color: white;
                    width: 110%;
                    overflow: hidden;
                    text-align: left;

                }
                .playing{
                    -moz-transform:translateX(100%);
                    -webkit-transform:translateX(100%);	
                    transform:translateX(100%);
                    -moz-animation: example1 12s linear infinite;
                    -webkit-animation: example1 12s linear infinite;
                    animation: example1 12s linear infinite;
                }
                @-moz-keyframes example1 {
                    0%   { -moz-transform: translateX(100%); }
                    100% { -moz-transform: translateX(-100%); }
                   }
                   @-webkit-keyframes example1 {
                    0%   { -webkit-transform: translateX(100%); }
                    100% { -webkit-transform: translateX(-100%); }
                   }
                   @keyframes example1 {
                    0%   { 
                    -moz-transform: translateX(100%); 
                    -webkit-transform: translateX(100%); 
                    transform: translateX(100%); 		
                    }
                    100% { 
                    -moz-transform: translateX(-100%); 
                    -webkit-transform: translateX(-100%); 
                    transform: translateX(-100%); 
                    }
                   }
            }
            .img{
               position: relative;
                width: 60px;
                height: 60px;
                margin-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 100%;
                    position: relative;
                   
                    // vertical-align: middle;
                    border-radius: 50%;
                    border: 2px solid white;
                }
                img.rorate{
                    animation: xoayvong 7s linear 0s infinite;
                    -webkit-animation: xoayvong 7s linear 0s infinite;
                    -moz-animation: xoayvong 7s linear 0s infinite;
                    -o-animation: xoayvong 7s linear 0s infinite; 
                }
            }
            @keyframes xoayvong {
                from {
                    transform: rotate(0deg);
                }
                to{
                    transform: rotate(360deg);
                }
            }
            @-webkit-keyframes xoayvong {
                from {
                    transform: rotate(0deg);
                }
                to{
                    transform: rotate(360deg);
                }
            }
        }
        .con-footer-item-2{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .con-footer-item-2-item-top{
                margin-top: 5px;
                width: 50%;
                height: 60%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .ShuffleIcon{
                    color: white;
                    font-size: 20px;
                    cursor: pointer;
                    cursor: pointer;
                }
                .ShuffleIcons{
                    font-size: 24px;
                    cursor: pointer;
                    color:white;
                }
                .ShuffleIcons:nth-child(3){
                    border-radius: 50%;
                    border: 1px solid white;
                    padding: 5px;
                    font-size: 36px;
                }
            }
            .con-footer-item-2-item{
                width: 100%;
                height: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                p:nth-child(1){
                    opacity: 0.7;
                      font-size: 14px;
                      color: white;
                      margin-right: 10px;
                  }
                  p:nth-child(3){
                    opacity: 0.7;
                      font-size: 14px;
                      color: white;
                      margin-left: 10px;
                  }
                .progress {
                    width: 50%;
                    -webkit-appearance: none;
                    height: 3px;
                    background: #d3d3d3;
                    outline: none;
                    opacity: 0.7;
                    -webkit-transition: 0.2s;
                    transition: opacity 0.2s;
                  }
                  
                  .progress::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 10px;
                    height: 3px;
                    background-color: #6148F0;
                    cursor: pointer;
                  }
                  
            }
        }
    }
}

